/** general styles */
.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 10px 20px;
    border: 1px solid #570897;
    border-radius: 12px;
    max-width: 500px;
    margin: 0 auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 1px solid #570897;
    border-radius: 8px;
    padding: 10px 20px;
}

.group-title {
    font-size: 18px;
    color: #83898d;
}

input::placeholder,
textarea::placeholder {
    color: #83898d73;
}

label:focus-within {
    color: #ec8c31;
}

fieldset input:focus,
fieldset textarea:focus {
    border-color: #ec8c31;
}

.submit-button {
    background-color: #ec8c31;
    font-size: 18px;
    letter-spacing: 2px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/** contact block styles */
.contacts-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.contacts-label input,
.contacts-label textarea {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #570897;
    border-radius: 4px;
    max-width: 300px;
}

/** select block styles */
.select-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.select-month {
    width: 300px;
    padding: 4px 8px;
    font-size: 16px;
    border: 1px solid #570897;
    border-radius: 4px;
    color: #151616;
    outline: none;
}

.select-month:focus {
    border-color: #ec8c31;
}

/** time block styles */
.time-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.input-times {
    width: 300px;
    padding: 4px 8px;
    font-size: 16px;
    border: 1px solid #570897;
    border-radius: 4px;
    color: #151616;
    outline: none;
}

.input-times:focus {
    border-color: #ec8c31;
}

/** checkbox block styles */
.checkbox-label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
}

.custom-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border: 1px solid #570897;
    border-radius: 4px;
    cursor: pointer;
    background-color: #ffffff;
    position: relative;
}

.check-icon {
    display: none;
    fill: #ffffff;
}

.checkbox-input:checked+label .custom-checkbox {
    background-color: #ec8c31;
    border-color: #ec8c31;
}

.checkbox-input:checked+label .custom-checkbox .check-icon {
    display: block;
    fill: #ffffff;
}

/** radiobuttons block styles */
.radio-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radio-label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding-left: 35px;
    font-size: 18px;
}

.radio-custom {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #570897;
    border-radius: 50%;
    background-color: white;
}

.radio-custom::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ec8c31;
    border-radius: 50%;
    opacity: 0;
}

.radio-input:checked+.radio-custom {
    border-color: #ec8c31;
    border-width: 2px;
}

.radio-input:checked+.radio-custom::after {
    opacity: 1;
}