/**  TABLE 1 STYLES */
table#table-1 {
    border-collapse: separate;
    border-spacing: 2px;
    background-color: #1092e9;
    border: 10px solid #1092e9;
    border-radius: 10px;
    margin: 0 auto 60px;
}

table#table-1 caption {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

table#table-1 th {
    font-size: 18px;
    padding: 10px;
    background-color: #62b0e4;
    border-radius: 4px;
    text-transform: uppercase;
    width: 120px;
}

#table-1 tr:nth-child(odd) td {
    background-color: #fafc91;
}

table#table-1 td {
    font-size: 18px;
    background-color: #88c6f0;
    border-radius: 4px;
    text-align: center;
    padding: 4px;
}

/** TABLE 2 STYLES  */
table#table-2 {
    border-collapse: separate;
    border-spacing: 2px;
    background-color: #1092e9;
    border: 10px solid #1092e9;
    border-radius: 10px;
    margin: 0 auto 60px;
}

table#table-2 caption {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

table#table-2 th {
    font-size: 18px;
    padding: 10px;
    background-color: #62b0e4;
    border-radius: 4px;
    text-transform: uppercase;
    width: 120px;
}

table#table-2 td {
    font-size: 18px;
    background-color: #88c6f0;
    border-radius: 4px;
    text-align: center;
    padding: 4px;
}

table#table-2 tbody td:nth-child(1),
table#table-2 tbody td:nth-child(2),
table#table-2 tbody td:nth-child(5),
table#table-2 tbody td:nth-child(8),
table#table-2 tbody td:nth-child(9) {
    background-color: #fafc91;
}


table#table-2 .yellow-column {
    background-color: #fafc91;
}

/** TABLE 3 STYLES  */
table#table-3 {
    border-collapse: collapse;
    text-align: center;
    border-spacing: 4px;
    background-color: #1092e9;
    border: 10px solid #1092e9;
    border-radius: 10px;
    margin: 0 auto 60px;
}

table#table-3 caption {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

table#table-3 th,
table#table-3 td {
    border: 1px solid #ffffff;
}

table#table-3 th {
    font-size: 18px;
    padding: 4px 10px;
    background-color: #62b0e4;
    text-transform: uppercase;
    width: 120px;
}

table#table-3 td {
    padding: 4px 10px;
    background-color: #88c6f0;
}